<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>

      <a routerLink="/">
        <span class="app-title">Team 7 Inventory</span>
      </a>
    </div>

    <a id="sign-out-btn" href="#" (click)="signOut()" title="Sign out button">
      <img src="assets/icons/logout.png" alt="Sign Out" title="Sign out icon"/>
    </a>
  </header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
      <a mat-button routerLink="/">Dashboard</a>
      <a mat-button routerLink="/inventory">Inventory</a>
      <a mat-button routerLink="/mix">Mix</a>
      <a mat-button routerLink="/invoice">Invoice</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by dmitri13 - Flaticon</a>
